<div class="addcar-view">
    <form [formGroup]="addCarForm">
        <div class="row">
            <div class="d-flex form-view">
                <div class="car-images">
                    <div class="text-center">
                        <img src="images/car-1.jpg" alt="">
                    </div>
                    <div class="d-flex justify-content-between">
                        <img src="images/car-2.jpg" alt="">
                        <img src="images/car-3.jpg" alt="">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn button">Upload Image</button>
                    </div>
                </div>
                
                <div class="w-100 ps-4">
                    <div class="w-100">
                        <div class="form-title mb-2">
                            Customer Name
                        </div>
                        <div class="form-floating" [ngClass]="{'error-border': (isSubmitted && addCarForm!.get('customerName')!.errors)}">
                            <input class="form-control" placeholder="Customer Name" id="name" formControlName="customerName">
                            <label for="name">Customer Name</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between field-flex">
                        <div class="mt-4 w-100 me-3">
                            <div class="form-title mb-2">
                                Phone Number
                            </div>
                            <div class="form-floating" [ngClass]="{'error-border': (isSubmitted && addCarForm!.get('phone')!.errors)}">
                                <input type="number" class="form-control number-input-field" placeholder="Phone Number" id="number" 
                                    formControlName="phone" onwheel="this.blur()">
                                <label for="number">Phone Number</label>
                            </div>
                        </div>
                        <div class="mt-4 w-100 ms-3">
                            <div class="form-title mb-2">
                                Mileage
                            </div>
                            <div class="form-floating" [ngClass]="{'error-border': (isSubmitted && addCarForm!.get('mileage')!.errors)}">
                                <input type="number" class="form-control number-input-field" placeholder="Mileage" id="mileage"
                                    formControlName="mileage" onwheel="this.blur()">
                                <label for="mileage">Mileage</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between field-flex">
                        <div class="mt-4 w-100 me-3">
                            <div class="form-title mb-2">
                                Make
                            </div>
                            <div [ngClass]="{'error-border': (isSubmitted && addCarForm!.get('make')!.errors)}">
                                <ng-select class="makes" [items]="carMakes" bindLabel="name" bindValue="id" 
                                [clearable]="false"[selectOnTab]="false" (change)="selectCarMake($event)"
                                placeholder="Select Make" formControlName="make">
                                </ng-select>
                            </div>
                        </div>
                        <div class="mt-4 w-100 ms-3">
                            <div class="form-title mb-2">
                                Model
                            </div>
                            <div [ngClass]="{'error-border': (isSubmitted && selectedCardMake && addCarForm!.get('model')!.errors)}">
                                <ng-select class="models" [items]="selectedCardMake?.models" bindLabel="name" bindValue="id" 
                                [clearable]="false"[selectOnTab]="false" [readonly]="!selectedCardMake"  (change)="selectCarModel($event)"
                                placeholder="Select Model" formControlName="model">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between field-flex">
                        <div class="mt-4 w-100 me-3">
                            <div class="form-title mb-2">
                                Type
                            </div>
                            <div [ngClass]="{'error-border': (isSubmitted && selectedCardModel && addCarForm!.get('type')!.errors)}">
                                <ng-select class="types" [items]="selectedCardModel?.types" bindLabel="name" bindValue="id" 
                                [clearable]="false"[selectOnTab]="false" [readonly]="!selectedCardModel"
                                placeholder="Select Type" formControlName="type">
                                </ng-select>
                            </div>
                        </div>
                        <div class="mt-4 w-100 ms-3">
                            <div class="form-title mb-2">
                                Drive Type
                            </div>
                            <div [ngClass]="{'error-border': (isSubmitted && selectedCardModel && addCarForm!.get('drive')!.errors)}">
                                <ng-select class="drive-types" [items]="selectedCardModel?.driveType" bindLabel="name" bindValue="id" 
                                [clearable]="false"[selectOnTab]="false" [readonly]="!selectedCardModel"
                                placeholder="Select Drive Type" formControlName="drive">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between field-flex">
                        <div class="mt-4 w-100 me-3">
                            <div class="form-title mb-2">
                                Fuel Type
                            </div>
                            <div [ngClass]="{'error-border': (isSubmitted && selectedCardModel && addCarForm!.get('fuel')!.errors)}">
                                <ng-select class="fuel-types" [items]="fuels" bindLabel="name" bindValue="id" 
                                [clearable]="false"[selectOnTab]="false" [readonly]="!selectedCardModel"
                                placeholder="Select Fuel Type" formControlName="fuel">
                                </ng-select>
                            </div>
                        </div>
                        <div class="mt-4 w-100 ms-3"></div>
                    </div>
                    <div class="">
                        <div class="mt-4 w-100">
                            <div class="form-title mb-2">
                                Transmission
                            </div>
                            <div class="main-container">
                                <div class="radio-buttons">
                                  <label class="custom-radio">
                                    <input type="radio" name="radio" [value]="true" checked (change)="changeTransmission(true)">
                                    <span class="radio-btn"><i class="bx bx-check"></i>
                                      <div class="hobbies-icon">
                                        <img src="https://media.istockphoto.com/id/689219926/photo/automatic-transmission-3d-illustration.jpg?s=612x612&w=0&k=20&c=ctmJw9MyGwlF8ZOl2_-rPg82EX42pB7S2zFF0oEkvg4=">
                                        <h3 class="">Automatic</h3>
                                      </div>
                                    </span>
                                  </label>
                                  <label class="custom-radio">
                                    <input type="radio" name="radio" [value]="false" (change)="changeTransmission(false)">
                                    <span class="radio-btn"><i class="bx bx-check"></i>
                                      <div class="hobbies-icon">
                                        <img src="https://media.istockphoto.com/id/134518597/photo/gearshift.jpg?s=612x612&w=0&k=20&c=W4yZXC-LdR9jWksFrrS9EPcK6NesGc8FRTvOZarp1Rk=">
                                        <h3 class="">Manual</h3>
                                      </div>
                                    </span>
                                  </label>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <div class="form-title">
                    Car Description (Optional)
                </div>
                <div class="form-floating mt-2">
                    <textarea class="form-control" style="height: 200px" placeholder="Car Description (Optional)" id="floatingTextarea"
                        formControlName="desc">
                    </textarea>
                    <label for="floatingTextarea">Car Description (Optional)</label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button type="button" class="btn button ms-4" (click)="createCar()">Add Car</button>
        </div>
    </form>
</div>