<div class="car-work-view">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-title mb-2">
                {{'car_number' | translate}}
            </div>
            <div>
                <ng-select class="cars" [items]="cars" bindLabel="carNumber" bindValue="id" 
                [clearable]="false" [selectOnTab]="false"
                placeholder="{{'select_car_number' | translate}}">
                </ng-select>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <div class="form-title mb-2">
                {{'maintenance' | translate}}
            </div>
            <div>
                <ng-select class="maintenance" [(ngModel)]="maintenanceIds" [items]="maintenance" bindLabel="name" bindValue="id" 
                [clearable]="false" [selectOnTab]="false" [multiple]="true" (change)="setAddedWorks()"
                placeholder="{{'select_maintenance' | translate}}">
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-title mb-2">
                {{'repair' | translate}}
            </div>
            <div>
                <ng-select class="repair" [(ngModel)]="repairsIds" [items]="repairs" bindLabel="name" bindValue="id" 
                [clearable]="false" [selectOnTab]="false" [multiple]="true" (change)="setAddedWorks()"
                placeholder="{{'select_repair' | translate}}">
                </ng-select>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <div class="form-title mb-2">
                {{'management' | translate}}
            </div>
            <div>
                <ng-select class="management" [(ngModel)]="managementsIds" [items]="managements" bindLabel="name" bindValue="id" 
                [clearable]="false" [selectOnTab]="false" [multiple]="true" (change)="setAddedWorks()"
                placeholder="{{'select_management' | translate}}">
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-title mb-2">
                {{'customization' | translate}}/{{'upgrades' | translate}}
            </div>
            <div>
                <ng-select class="upgrades" [(ngModel)]="customizationsIds" [items]="customizations" bindLabel="name" bindValue="id" 
                [clearable]="false" [selectOnTab]="false" [multiple]="true" (change)="setAddedWorks()"
                placeholder="{{'select_customization' | translate}}/{{'upgrades' | translate}}">
                </ng-select>
            </div>
        </div>
    </div>

    <div class="row mt-4" *ngIf="addedWorks.length > 0">
        <div class="col-12 col-md-6" *ngFor="let work of addedWorks.slice(0, (addedWorks.length / 2))">
            <p>
                <i class='bx bxs-check-circle me-2 text-success'></i>
                <span>{{work}}</span>
            </p>
        </div>
        <div class="col-12 col-md-6" *ngFor="let work of addedWorks.slice(addedWorks.length / 2)">
            <p>
                <i class='bx bxs-check-circle me-2 text-success'></i>
                <span>{{work}}</span>
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn button ms-4" (click)="addedWorks.length > 0 ? addWorks() : null">{{'add_works' | translate}}</button>
    </div>
</div>