<nav class="sidebar" id="sidebar-view">
  <header>
      <div class="image-text">
          <span class="image">
              <img src="images/logo.jpg" alt="logo">
          </span>

          <div class="text header-text">
              <span class="name">CarvicE</span>
          </div>
      </div>
      <i class='bx bx-chevron-right toggle' (click)="changeSideView()" ></i>
  </header>

  <div class="sidebar-menu">
      <div class="menu">
          <ul class="sidebar-links" id="sidebarnav">
            <li class="h-100">
                <div class="subtitle">{{'home' | translate}}</div>
            </li>
              <li class="sidebar-link">
                  <a [routerLink]="['/dashboard']" routerLinkActive="active">
                      <i class='bx bx-home-alt icon'></i>
                      <span class="text sidebar-text">{{'dashboard' | translate}}</span>
                  </a>
              </li>
              <li class="h-100">
                <div class="subtitle">{{'setup' | translate}}</div>
              </li>
              <li class="sidebar-link">
                  <a [routerLink]="['/setup/add-car']" routerLinkActive="active">
                      <i class='bx bx-car icon'></i>
                      <span class="text sidebar-text">{{'add_car' | translate}}</span>
                  </a>
              </li>
              <li class="sidebar-link">
                  <a [routerLink]="['/setup/car-work']" routerLinkActive="active">
                      <i class='bx bx-health icon'></i>
                      <span class="text sidebar-text">{{'repair' | translate}}</span>
                  </a>
              </li>
              <li class="sidebar-link">
                  <a [routerLink]="['/setup/car-progress']" routerLinkActive="active">
                      <i class='bx bxs-traffic icon'></i>
                      <span class="text sidebar-text">{{'progress' | translate}}</span>
                  </a>
              </li>
              <li class="h-100">
                <div class="subtitle">{{'local' | translate}}</div>
              </li>
              <li class="sidebar-link">
                  <a (click)="changeLang()">
                      <i class='bx bx-cog icon'></i>
                      <span class="text sidebar-text">{{selectedLanguage.code === 'en-gb' ? 'Norway' : 'English'}}</span>
                  </a>
              </li>
          </ul>
      </div>

      <div class="bottom-content">
          <li class="sidebar-link">
              <a href="">
                  <i class='bx bx-log-out icon'></i>
                  <span class="text sidebar-text">{{'logout' | translate}}</span>
              </a>
          </li>
      </div>
  </div>
</nav>
<section class="home mb-4">
    <app-nav-bar></app-nav-bar>
  <div class="text">
      <router-outlet></router-outlet>
  </div>
</section>